@use "@picocss/pico/scss/pico" with (
  $semantic-root-element: "#app",
  $enable-semantic-container: true,
  $theme-color: "cyan"
);

@use "@picocss/pico/scss/colors/utilities";

@use "@picocss/pico/scss/colors" as *;

#app {
  text-align: center;
}
