@use "@picocss/pico/scss/pico" with (
  $semantic-root-element: "#app",
  $enable-semantic-container: true,
  $theme-color: "indigo"
);
@use "@picocss/pico/scss/colors/utilities";
@use "@picocss/pico/scss/colors" as *;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#app {
  text-align: center;
}

:root {
  --pico-font-family-sans-serif:
    "Lato", system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica,
    Arial, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

nav {
  border-bottom: 2px solid var(--pico-muted-border-color);
}

// fix for firefox (https://github.com/picocss/pico/issues/701#issuecomment-3367167118)
nav li details.dropdown {
  display: inline-block;
}

.delete-btn {
  --pico-background-color: var(--pico-color-red-500, #d93526);
  --pico-border-color: var(--pico-color-red-500, #d93526);
  --pico-color: var(--pico-primary-inverse, #fff);

  /* hover, active, focus, and aria-current staes */
  &:is([aria-current]:not([aria-current="false"])),
  &:is(:hover, :active, :focus) {
    --pico-background-color: var(--pico-color-red-300, #f38f79);
    --pico-border-color: var(--pico-color-red-300, #f38f79);
    --pico-color: var(--pico-primary-inverse, #fff);
    --pico-box-shadow: var(
      --pico-button-hover-box-shadow,
      0 0 0 rgba(0, 0, 0, 0)
    );
  }

  /* focus outline */
  &:focus,
  &:is([aria-current]:not([aria-current="false"])):focus {
    --pico-box-shadow:
      var(--pico-button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),
      0 0 0 var(--pico-outline-width, 2px) var(--pico-color-red-350, #f17961);
  }
}
